:root {
    --primary-color-header: #012E4A;
    --primary-color-hover-header: #0056b3;
    --accent-color-header: #B37100;
    --accent-color-hover-header: #5E471F;
    --secondary-color-header: #012E4A;
    --background-color: #f5f5f5;
}

.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 5rem;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-container h1 {
    font-size: 2.8rem;
    color: var(--secondary-color-header);
    font-weight: 700;
    margin-bottom: 40px;
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.admin-box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    cursor: pointer;
}

.admin-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    background-color: #f0f8ff; /* Color suave de fondo */
}

.admin-box a {
    text-decoration: none;
    color: var(--primary-color-header);
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    padding: 15px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.admin-box a:hover {
    color: var(--primary-color-hover-header);
    transform: translateX(5px); /* Desplazamiento al hacer hover */
}

.admin-box:focus,
.admin-box a:focus {
    outline: none;
    border-color: var(--primary-color-header);
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.4);
}

.admin-grid .admin-box:nth-child(even) {
    background-color: #f8f9fa; /* Fondo gris suave en los botones pares */
}

/* Fondo del body */
body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: #333;
}
