
.counter-section {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  margin-top: 20px;
}


.counter-box {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px; 
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px; 
}


.counter-title {
  font-size: 1.5rem;
  margin-bottom: 10px; 
}


.elementor-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px; 
}

.elementor-counter-number-wrapper {
  font-size: 2.5rem; 
  font-weight: bold; 
}

.elementor-counter-number-suffix {
  font-size: 1.5rem; 
  margin-left: 5px; 
}

.elementor-heading-title {
  font-size: 1.5rem; 
  margin-bottom: 5px; 
}
