/* Estilos para CreateGame */
.create-game-form-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  text-align: center; /* Alinea el texto y los elementos hijos */
}

.create-game-title {
  font-size: 2rem;
  color: #333;
}

.create-game-success-message {
  color: green;
  font-weight: bold;
}

.create-game-form-group {
  background-color: white; /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 8px; /* Bordes redondeados */
  padding: 1rem;
  margin-bottom: 15px;
  width: 100%;
  max-width: 500px; /* Máximo ancho del formulario */
}

.create-game-label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.create-game-select,
.create-game-input,
.create-game-textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-game-submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  max-width: 500px; /* El botón también tiene el mismo ancho que el formulario */
}

.create-game-submit-button:hover {
  background-color: #45a049;
}

.create-game-search-container {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.create-game-results-container {
  margin-top: 15px;
  width: 100%;
  max-width: 500px;
}

.create-game-results-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.create-game-guest-list {
  list-style-type: none;
  padding-left: 0;
}

.create-game-guest-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.create-game-game-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.create-game-game-name {
  font-weight: bold;
}

.create-game-game-link {
  color: #007bff;
  text-decoration: none;
}

.create-game-game-link:hover {
  text-decoration: underline;
}

.create-game-loading-text {
  color: #777;
}

.create-game-selected-game-title {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.create-game-selected-game-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.create-game-no-results {
  color: red;
  text-align: center;
}

.create-game-error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.create-game-textarea {
  height: 150px;
}

.create-game-form-group input,
.create-game-form-group textarea {
  font-size: 1rem;
}

