@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/* Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #012E4A;
  --background-color: #f5f5f5;
  --white: #fff;
  --gray: #ddd;
  --dark-gray: #555;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-hover-color: rgba(0, 0, 0, 0.15);
  --border-radius: 8px;
  --transition-time: 0.3s;
  --container-width: 380px;
  --max-image-width: 360px; /* Limita el ancho máximo de la imagen */
  --image-padding: 10px; /* Espacio interno de las imágenes */
}

/* Global font styles */
* {
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Center the title and description */
h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 20px;
  font-size: 2.5em;
}

.description {
  text-align: center;
  max-width: 800px;
  margin: 20px auto; /* Centers the description horizontally */
  font-size: 1.2em;
  color: var(--dark-gray);
}

/* Styles for Eventos (Event page) */
.event-container {
  width: var(--container-width);
  margin: 15px;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 8px var(--shadow-color);
  text-align: center;
  transition: transform var(--transition-time) ease, box-shadow var(--transition-time) ease;
}

.event-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px var(--shadow-hover-color);
}

/* Style for the event image */
.event-container img {
  width: var(--max-image-width); /* Limit the width */
  height: auto;
  max-height: 400px; /* Optional: limit the height if necessary */
  border-radius: var(--border-radius);
  margin: var(--image-padding) auto; /* Center the image horizontally */
  display: block; /* Ensures image block behavior */
}

/* Style for the event text */
.event-container h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.event-container p {
  color: var(--dark-gray);
  font-size: 0.95em;
  margin-bottom: 10px;
}

.event-container strong {
  display: block;
  margin-top: 10px;
  color: var(--text-color);
}

/* Container for multiple events */
.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the events */
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Optional padding for spacing */
}
