.guest-registry-container{
  padding-top: 5.5rem;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
}

/* Estilos para formularios */
.form-container {
    max-width: 600px;
    margin: auto;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px; /* Default height for textarea */
  resize: vertical; /* Allow vertical resizing only */
}

.submit-button {
  background: linear-gradient(45deg, var(--primary-color), var(--primary-hover-color)); /* Degradado */
  color: var(--white);
  padding: 12px 20px; /* Aumentar el padding */
  border: none;
  border-radius: 25px; /* Bordes redondeados más pronunciados */
  font-size: 18px; /* Aumentar el tamaño de fuente */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s; /* Transiciones suaves */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.submit-button:hover {
  background: linear-gradient(45deg, var(--primary-hover-color), var(--primary-color)); /* Cambiar degradado al hacer hover */
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.submit-button:active {
  transform: translateY(0); /* Volver a la posición original al hacer clic */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}

/* Estilos de mensajes */
.error-message {
  color: var(--error-color);
}

.success-message {
  color: var(--success-color);
}

/* Estilos para centrar título de búsqueda */
.search-container h2 {
  text-align: center;
}

/* Resultados de la Búsqueda */
.results-container {
  margin-top: 20px;
  text-align: center; /* Centra el contenido de los resultados */
}


.search-container {
  margin: 20px 0;
}

.instruction-text {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}


/* TABLA DE INVITADOS REGISTRADOS */

/* Estilo para escritorio */
/* Estilo para escritorio */
.guest-list--unique {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ddd; /* Borde de la tabla */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombreado sutil */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px;
}

.guest-row--unique {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.guest-card__label--unique {
  font-weight: bold;
}

.guest-card__value--unique {
  display: block;
}

/* Estilo para móviles (cambia a tarjetas) */
@media (max-width: 768px) {
  .guest-list--unique {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: transparent; /* Fondo blanco para las tarjetas */
    border: none; /* Borde de las tarjetas */
    box-shadow: none; /* Sombreado sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px;
  }

  .guest-row--unique {
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco para las tarjetas */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para cada tarjeta */
    display: block;
  }

  .guest-card__label--unique {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .guest-card__value--unique {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; /* Separación entre label y value */
  }

  .guest-card__row--unique {
    display: block;
    margin-bottom: 15px; /* Separación entre filas */
  }
}
