.guest-registry-container{
  padding-top: 5.5rem;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
}

/* Estilos para formularios */
.form-container {
    max-width: 600px;
    margin: auto;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px; /* Default height for textarea */
  resize: vertical; /* Allow vertical resizing only */
}

.submit-button {
  background: linear-gradient(45deg, var(--primary-color), var(--primary-hover-color)); /* Degradado */
  color: var(--white);
  padding: 12px 20px; /* Aumentar el padding */
  border: none;
  border-radius: 25px; /* Bordes redondeados más pronunciados */
  font-size: 18px; /* Aumentar el tamaño de fuente */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s; /* Transiciones suaves */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.submit-button:hover {
  background: linear-gradient(45deg, var(--primary-hover-color), var(--primary-color)); /* Cambiar degradado al hacer hover */
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.submit-button:active {
  transform: translateY(0); /* Volver a la posición original al hacer clic */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}

/* Estilos de mensajes */
.error-message {
  color: var(--error-color);
}

.success-message {
  color: var(--success-color);
}

/* Estilos para centrar título de búsqueda */
.search-container h2 {
  text-align: center;
}

/* Resultados de la Búsqueda */
.results-container {
  margin-top: 20px;
  text-align: center; /* Centra el contenido de los resultados */
}


.search-container {
  margin: 20px 0;
}

.instruction-text {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}


/* TABLA DE INVITADOS REGISTRADOS */

/* Estilo para la tabla de invitados */
.guest-table {
  border-collapse: collapse;
  min-width: 1200px; /* Ancho fijo de 800px */
  margin: 0 auto; /* Centra la tabla */
}

.guest-table th, .guest-table td {
  text-align: left;
  border: 1px solid #ddd;
  padding: 12px; /* Mayor espacio dentro de las celdas */
  word-wrap: break-word; /* Rompe palabras largas que no caben */
  white-space: nowrap; /* Evita el ajuste de texto en una sola línea */
}

.guest-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.guest-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.guest-table tr:hover {
  background-color: #f1f1f1;
}

/* Evita que las columnas se ajusten al contenido */
.guest-table th, .guest-table td {
  width: 25%; /* Asegura que todas las columnas sean proporcionales */
}

@media (max-width: 768px) {
  .guest-table th, .guest-table td {
    display: block;
    width: 100%; /* Las celdas ocuparán todo el ancho en pantallas pequeñas */
    text-align: right; /* Alineación a la derecha en pantallas pequeñas */
  }

  .guest-table th {
    text-align: left; /* Alinea los encabezados a la izquierda */
    background-color: #f4f4f4;
    font-weight: bold;
  }

  .guest-table tr {
    display: block;
    margin-bottom: 10px; /* Espacio entre filas */
  }

  .guest-table td {
    text-align: left; /* Alineación a la izquierda en pantallas pequeñas */
    padding-left: 40%; /* Para dar espacio a la etiqueta en pantallas pequeñas */
  }
}





  
  
