/* Reset CSS para eliminar márgenes y paddings predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye padding y borde en el ancho y alto total */
}

/* Variables CSS para colores y tamaños */
:root {
  --primary-color-header: #007bff;
  --primary-color-hover-header: #0056b3;
  --accent-color-header: #B37100;
  --accent-color-hover-header: #5E471F;
  --secondary-color-header: #012E4A;
  --background-color: #f5f5f5;
  --white: #fff;
  --light-gray: #f5f5f5;
  --gray: #ddd;
  --dark-gray: #555;
  --error-color: #ff0000;
  --success-color: #28a745;
}

/* Estilos generales */
.header {
  background-color: var(--secondary-color-header);
  color: var(--white);
  padding: 10px 0;
  width: 100%;
  position: relative;
  margin: 0; /* Asegúrate de que no haya márgenes */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px; /* Limita el ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido en la página */
  padding: 0 20px; /* Espacio a los lados */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
}

/* Contenedor del logo y menú hamburguesa */
.header-logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* Logo */
.header-logo {
  height: 50px; /* Ajusta según sea necesario */
  margin-right: 10px; /* Espacio entre el logo y el botón */
}

/* Estilo del botón del menú hamburguesa */
.menu-toggle {
  background: none;
  border: none;
  color: var(--white);
  font-size: 28px;
  cursor: pointer;
  display: none; /* Ocultamos el botón en pantallas grandes */
  margin-left: auto; /* Mover el botón hamburguesa a la derecha */
}

/* Ocultamos el menú en dispositivos móviles por defecto */
.header-nav-container {
  display: flex;
  flex-direction: row;
  max-height: none; /* En pantallas grandes no limitamos la altura */
  overflow: visible;
  align-items: center; /* Alinear verticalmente todos los elementos */
}

/* Menú de navegación */
.header-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Centra todos los elementos dentro del ul */
  flex-grow: 1; /* Permite que el ul ocupe el espacio disponible */
  align-items: center; /* Alinear verticalmente los elementos dentro del menú */
}

/* Estilo para los elementos de la lista */
.header-nav li {
  position: relative;
  padding: 0;
}

.header-nav li a {
  color: var(--white);
  text-decoration: none;
  margin: 0;
  padding: 0 20px; /* Ajusta este padding si quieres que la línea sea más corta o larga */
  line-height: 35px;
  display: inline-block; /* Para que la línea respete el ancho del texto */
  background: linear-gradient(90deg, var(--accent-color-header) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: none;
}

.header-nav li a:hover {
  color: var(--white);
  background-position: 0 0; /* Mueve el fondo hacia la izquierda en hover */
}

/* Línea naranja debajo del enlace activo */
.header-nav li a.active {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
}

.header-nav li a.active::after {
  content: ''; /* Necesario para que el pseudo-elemento aparezca */
  display: block; /* Hace que el pseudo-elemento sea un bloque */
  width: 8px; /* Ajusta el tamaño del punto */
  height: 8px; /* Ajusta el tamaño del punto */
  background-color: var(--accent-color-header); /* Color inicial del punto (blanco) */
  border-radius: 50%; /* Hace que el fondo sea circular */
  position: absolute; /* Permite posicionar el punto */
  left: 50%; /* Centrar horizontalmente */
  bottom: -4px; /* Ajustar la posición vertical del punto */
  transform: translateX(-50%); /* Centra el punto en el enlace */
  transition: background-color 0.4s ease; /* Transición suave para el color de fondo */
}

/* Cambia el color a naranja cuando está activo */
.header-nav li a.active {
  background-color: var(--secondary-color-header); /* Color del punto en estado activo */
}

.header-nav li a.active:hover::after {
  background-color: var(--secondary-color-header); /* Mantiene el color naranja en hover */
  z-index: -1;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .header-content {
    justify-content: space-between; /* Aseguramos el espaciado entre el logo y el botón */
  }

  .header-logo-container {
    flex-grow: 0; /* No permitir que crezca en pantallas pequeñas */
  }

  .menu-toggle {
    display: block; /* Mostramos el botón en pantallas pequeñas */
    height: auto; /* Asegúrate de que el botón tenga una altura automática */
    background: none; /* Para que no haya fondo en el botón */
    border: none; /* Sin borde */
    padding: 0; /* Sin padding para mantener altura uniforme */
    line-height: 1; /* Ajuste de la altura de línea */
    margin-left: auto; /* Asegura que esté alineado a la derecha */
  }

  /* Ocultamos el menú por defecto en móviles */
  .header-nav-container {
    flex-direction: column;
    max-height: 0; /* Altura inicial 0 para el menú cerrado */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Transición suave al abrir/cerrar */
    width: 100%;
    align-items: center; /* Centra todos los elementos en el contenedor */
  }

  /* Cuando el menú está abierto */
  .header-nav-container.open {
    max-height: 500px; /* Ajustar según la cantidad de elementos */
  }

  /* Menú desplegado en móviles */
  .header-nav {
    flex-direction: column;
    width: 100%; /* Ocupa todo el ancho */
    align-items: center; /* Centra todos los elementos dentro del menú */
  }

  .header-nav li {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    border-right: none; /* Elimina líneas verticales en móviles */
  }

  .header-nav li a {
    display: block;
    padding: 10px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--secondary-color-header); /* Fondo del enlace */
  }

  .header-nav li a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo en hover */
  }

  /* Ajustamos el comportamiento del contenido */
  .header-content {
    flex-direction: column; /* Elementos en columna en móviles */
    align-items: center; /* Centrar contenido */
  }

  .header-user {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 10px; /* Espacio arriba para separación */
  }

  .logout-btn {
    margin-top: 0; /* Remover margen superior */
    margin-left: 15px; /* Espaciado para el botón logout */
  }
}

/* Estilos del botón de logout */
.logout-btn {
  background-color: var(--accent-color-header); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar */
  transition: background 0.3s; /* Transición suave */
  align-self: center; /* Centrar el botón en su contenedor */
}

/* Efecto hover para el botón de logout */
.logout-btn:hover {
  background-color: var(--accent-color-hover-header); /* Color de fondo del botón al pasar el mouse */
}

/* Alineación del botón de logout en vista de escritorio */
.header-user {
  display: flex; /* Hacer que el contenedor de usuario sea un flex container */
  align-items: center; /* Centrar verticalmente el contenido */
  margin-left: 15px; /* Margen para separarlo del menú */
}

/* Estilo adicional para el botón hamburguesa cuando el menú está abierto */
.menu-toggle.open {
  color: var(--primary-color-hover-header); /* Cambiar color del ícono del menú cuando está abierto */
}
