/* Archivo: home.css */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de toda la ventana */
  width: 100vw; /* Ancho de toda la ventana */
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.home-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-container::before {
  content: "Dragón de Madera";
  font-family: 'MedievalSharp', cursive;
  white-space: pre;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 4.5rem; /* Tamaño de la primera línea */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.home-container::after {
  content: "Asociación de juegos de mesa, rol y wargames";
  white-space: pre;
  position: absolute;
  top: 60%; /* Ajusta la posición para que esté debajo de la primera línea */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 2rem; /* Tamaño de la segunda línea */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}
