@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
  --font-family: 'MedievalSharp', cursive; /* Define la variable para la fuente */
}

body {
  font-family: var(--font-family); /* Aplica la fuente a todo el cuerpo */
  margin: 0; /* Elimina los márgenes */
  padding: 0; /* Elimina los rellenos */
}

.home-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  position: relative;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  overflow: hidden;
}

.home-video {
  position: absolute; /* El video debe estar por detrás del contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción y cubre todo el contenedor */
  z-index: -1; /* Coloca el video por debajo del contenido */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto en la pantalla */
  color: white;
  text-align: center;
  z-index: 1; /* Asegura que el texto esté por encima del video */
}

.overlay-text h1 {
  color: white;
  font-family: var(--font-family);
  font-size: 4rem; /* Tamaño del título */
  margin: 0; /* Sin margen */
}

.overlay-text p {
  font-family: var(--font-family);
  font-size: 1.5em; /* Tamaño del párrafo */
  margin-top: 10px; /* Espaciado superior */
}

.counter-section {
  margin-top: 20px; /* Espacio entre el texto y los contadores */
}

.counter-box {
  margin: 10px; /* Espacio entre los contadores */
}

.counter-title {
  color: white;
}
