.ludoteca-container {
  padding-top: 5rem;
}
/* FILTROS */
.filters-row {
  display: flex;
  align-items: center; /* Alinea todos los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espaciado entre los elementos principales */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 10px; /* Espaciado entre los elementos dentro del filtro */
}

.filter-item label {
  display: flex;
  align-items: center; /* Asegura que el texto del label y los elementos estén alineados */
  gap: 10px; /* Espaciado entre el label y los elementos */
}

.filter-item input,
.filter-item select,
.filter-item button {
  width: 200px; /* Tamaño uniforme de ancho */
  height: 40px; /* Tamaño uniforme de alto */
  padding: 0 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde estándar */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de fuente uniforme */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}

.filter-item button, .alphabet-button{
  width: 300px; /* Ancho fijo */
  height: 40px; /* Altura fija */
  background-color: #012E4A; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar */
  border-radius: 4px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s; /* Transiciones suaves */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

#reset-filters{
  width: 200px; /* Ancho fijo */
}

.filter-item button:hover, .alphabet-button:hover {
  background-color: #B37100 !important; /* Cambio de color en hover */
  background: linear-gradient(45deg, var(--primary-hover-color), var(--primary-color)); /* Cambiar degradado al hacer hover */
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.filter-item button:active, .alphabet-button:active {
  transform: translateY(0); /* Volver a la posición original al hacer clic */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
  }


/* FILTRO POR LETRAS DEL ALFABETO */
.alphabet-buttons {
  display: flex; /* Asegura que los botones estén alineados en fila */
  flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si es necesario */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 0.5rem; /* Espaciado entre botones */
}

.alphabet-buttons button {
  width: 2.5rem; /* Tamaño uniforme de ancho */
  height: 2.5rem; /* Tamaño uniforme de alto */
  border-radius: 50%; /* Bordes redondeados */
  background-color: transparent; /* Fondo predeterminado */
  color: #2c3e50; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
  text-align: center; /* Asegura texto centrado horizontalmente */
  display: flex; /* Flexbox para centrar contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.alphabet-buttons button:hover {
  background-color: #dcdcdc;
  transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón */
}

/* GRID DE LOS JUEGOS */
.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 juegos por fila */
  gap: 20px;
  padding: 20px; /* Añadir espacio alrededor del grid */
  margin: 0 auto; /* Centrar el grid en la pantalla */
  max-width: 1200px; /* Limitar el ancho máximo del grid */
  
}

.game-card {
  cursor: pointer;
  text-align: center;
  transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Agregar transición al sombreado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreado por defecto */
  border-radius: 8px;
  margin: 10px; /* Margen alrededor de cada tarjeta de juego */
  padding: 0.5rem;
  transition: transform var(--transition-time) ease;
}


.game-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
   /* Sombreado más intenso al pasar el mouse */
}

.game-card.unavailable {
  opacity: 0.5;
}

.game-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-title {
  font-size: 16px;
  margin-top: 10px;
}

.game-unavailable-text {
  position: absolute;
  bottom: -30px; /* Inicialmente fuera de la tarjeta (debajo) */
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke; /* Fondo blanco */
  color: red;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1; /* Asegura que el texto esté encima de la tarjeta */
  opacity: 0; /* Inicialmente oculto */
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 250px; /* Aumentamos el ancho del contenedor */
  text-align: center; /* Centra el texto dentro del contenedor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.game-card:hover .game-unavailable-text {
  bottom: 10px; /* Mueve el texto hacia arriba al hacer hover */
  opacity: 1; /* Hace el texto visible */
  transform: translateX(-50%) translateY(-10px); /* Animación para el movimiento */
}

/* VENTANA MODAL */
/* Estilos para el overlay del modal */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenido del modal */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vw; /* Reducido de 80vw a 50vw */
  max-height: 90vh;
  width: auto;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  overflow: auto;
  position: relative;
}


/* Botón de cierre */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #333;
  background-color: transparent;
}

/* Estilos para el contenedor interno */
.modal-inner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de la imagen dentro del modal */
.modal-image {
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
  border-radius: 8px;
}

/* Botones */
.modal-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff; /* Asegura que ambos botones tengan texto blanco */
  width: 300px !important; /* Hace que ambos botones tengan el mismo ancho */
}

@media (max-width: 768px) {
  .games-grid {
    grid-template-columns: 1fr; /* 1 tarjeta por fila en pantallas móviles */
  }

  .game-unavailable-text {
    position: relative; /* Cambiamos la posición a 'relative' para que el texto quede debajo de la tarjeta */
    bottom: 0; /* Restablecemos la posición para que no quede fuera de la tarjeta */
    left: 0;
    transform: translateX(0);
    width: auto; /* Eliminamos el ancho fijo */
    background-color: transparent;
    padding: 5px 10px;
    color: red;
    opacity: 1; /* Aseguramos que el texto sea visible */
    font-size: 16px; /* Ajustamos el tamaño de la fuente para pantallas pequeñas */
    text-align: center; /* Centrado de texto */
    border-radius: 5px; /* Bordes redondeados */
    z-index: 1; /* Asegura que el texto esté encima de la tarjeta */
    box-shadow: none;
  }

  /* No hay hover en móviles, por lo que el mensaje siempre será visible */
  .game-card:hover .game-unavailable-text {
    bottom: 0; /* Mantiene el mensaje en la parte inferior */
    opacity: 1; /* El texto sigue siendo visible */
    transform: translateX(0); /* Sin movimiento adicional */
  }

  .filter-item {
    display: flex;
    flex-direction: column; /* Apila los elementos en una columna */
    gap: 5px; /* Espaciado entre el label y el input */
  }
  


  .modal-content {
    max-width: 100vw; /* Ocupa todo el ancho de la ventana */
    max-height: 100vh; /* Ocupa todo el alto de la ventana */
    width: 100vw; /* Asegura que la ventana modal ocupe todo el ancho */
    height: 100vh; /* Asegura que la ventana modal ocupe todo el alto */
    padding: 0; /* Elimina el padding para maximizar el espacio */
    border-radius: 0; /* Opcional, para quitar los bordes redondeados */
  }

  .modal-inner {
    height: 100%; /* Asegura que el contenido ocupe todo el alto disponible */
  }

  .modal-image {
    max-height: 50vh; /* Ajusta el tamaño de la imagen dentro del modal */
    margin-bottom: 20px; /* Añade un poco de margen para separar la imagen de los botones */
  }

  .modal-button {
    width: 80%; /* Hace que los botones sean más grandes en pantallas pequeñas */
  }
}

