.ludoteca-container {
  padding-top: 5rem;
}
.filters-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sort-options {
  display: flex;
  gap: 10px;
}

