/* styles.css */

/* Variables generales de color */
:root {
  --primary-color: #2c3e50;
  --primary-color-hover: #2980b9;
  --secondary-color: #2c3e50;

  --text-size: 1rem;               /* 16px / 16 = 1rem */
  --text-hightlight: 1.125rem;    /* 18px / 16 = 1.125rem */
  --text-note: 0.875rem;          /* 14px / 16 = 0.875rem */
  
  --title-size: 2.125rem;         /* 34px / 16 = 2.125rem */
  --subtitle-size: 1.5rem;        /* 24px / 16 = 1.5rem */
  --subtitle-size-small: 1.25rem; /* 20px / 16 = 1.25rem */
  
}

/* Estilos generales */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}



h1, h2 {
  color: var(--primary-color);
  text-align: center;
}

/* Spinner */
.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Otros estilos generales */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-hover);
}
