/* FLECHA */
/* From Uiverse.io by ArturCodeCraft */ 
a {
    text-decoration: none;
  }

  .scroll-up {
    position: fixed; 
    right: 2rem; 
    bottom: 3rem; 
    z-index: 5; 
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    background-color: #012E4A;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity .4s, bottom .4s, transform .4s;
    opacity: 0; 
    visibility: hidden; 
  }
  
  /* Hover effect */
  .scroll-up:hover {
    background-color: #B37100;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s; 
    transform: translateY(-.25rem); 
  }
  
  @media (max-width: 1199.98px) {
    .scroll-up {
      right: 1rem; 
    }
  }
  
  
  ._show-scroll {
    opacity: 1; 
    visibility: visible; 
    bottom: 3rem;
  }
  