.who-container {
  padding-top: 5.5rem;
  width: 90%; 
  margin: 0 auto; 
}


@keyframes blink-shadow {
  0%, 100% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  50% {
    box-shadow: 0 4px 8px rgba(170, 0, 255, 0.8), 0 0 15px rgba(170, 0, 255, 0.8); 
  }
}

@keyframes blink-shadow-text {
  0%, 100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  50% {
    text-shadow: 4px 4px 8px rgba(0, 255, 255, 1), 0 0 15px rgba(0, 255, 255, 0.8); 
  }
}

.ad-banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: var(--primary-color);
  background-image: url('../img/banner.jpg'); 
  background-size: cover; 
  background-position: center;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  position: relative;
  height: 300px; 
  animation: blink-shadow 1s 5; 
}

.ad-banner-image {
  height: 100px; 
  width: auto; 
  margin: 0 20px; 
  animation: blink-shadow 1s 5; 
}

.ad-banner-text {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); 
}

.ad-banner-text p {
  font-size: 2rem; 
  color: #ffebb7; 
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
               0 0 8px rgba(27, 4, 4, 0.743), 
               0 0 10px rgb(162, 116, 9); 
}


.ad-banner-close {
  background: none;
  border: none;
  color: #d68251; 
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ad-banner-close:hover {
  color: #ffebb7; 
  background-color: transparent;
}

section {
  display: grid;
  grid-template-columns: 2fr 2fr; 
  gap: 20px; 
  padding: 20px; 
}

.who-image-container {
  width: 100%;
}

.who-image-container img{
  width: 100%;
}

.description-container {
  width: 100%;
}

.description .custom-description {
  font-size: 16px;
  line-height: 1.6;
  
}

.custom-description p {
  margin-bottom: 10px; 
  text-align: justify; 
}


.visit-us-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
  padding: 20px;
}

.visit-us-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; 
  text-align: center; 
  align-items: center;
  justify-content: center;
}

.visit-us-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px; 
  text-align: left; 
}

.contact-section {
  display: grid;                
  grid-template-columns: 1fr;   
  gap: 20px;                    
  padding: 20px;
  text-align: center;          
}


.contact-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; 
}


.contact-description {
  font-size: 16px;
  margin-bottom: 20px; 
}


.contact-qr-container {
  margin-bottom: 20px;
}

.contact-qr-container,
.email-form-container {
  width: 100%;            
}

.contact-qr-image {
  max-width: 100%;
  height: auto; 
}

.email-form-container {
  margin-top: 20px;
}

.contact-content {
  display: grid;          
  grid-template-columns: 1fr 1fr; 
  gap: 20px;     
  align-items: center;
  justify-content: center;        
}

.email-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.email-heading, .contact-qr-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.status-message {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.email-form {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px; 
}

.email-label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.email-input,
.email-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.email-textarea {
  height: 150px;
}


@media (max-width: 768px) {
  .who-container {
    width: 100%; 
  }

  .ad-banner {
    width: 95%;  
    margin: 0 auto;
    height: 350px; 
    flex-direction: column; 
    padding: 15px;
  }

  .ad-banner-image {
    height: 80px; 
    margin: 10px 0;
  }

  .ad-banner-text {
    display: none;
  }

  section {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .description-container {
    width: 100%;
  }

  .visit-us-section {
    padding: 10px;
  }

  .visit-us-heading {
    font-size: 20px;
  }

  .visit-us-list {
    margin-left: 10px;
  }


  .contact-section {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 20px; 
    padding: 10px;
  }

  .contact-heading {
    font-size: 20px; 
  }

  .contact-description {
    font-size: 14px; 
  }

  .contact-content {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 15px; 
    padding: 10px;
  }

  .email-container {
    width: 90%; 
    padding: 10px;
  }

  .email-form {
    gap: 10px; 

  .email-input,
  .email-textarea {
    font-size: 14px; 
    padding: 8px; 
  }

  .email-textarea {
    height: 120px; 
  }
}
}