.who-container {
  padding-top: 5.5rem;
  width: 90%;  /* Cambiar el ancho a 90% */
  margin: 0 auto; /* Centrar el contenedor en la página */
}


@keyframes blink-shadow {
  0%, 100% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra normal */
  }
  50% {
    box-shadow: 0 4px 8px rgba(170, 0, 255, 0.8), 0 0 15px rgba(170, 0, 255, 0.8); /* Sombra brillante turquesa */
  }
}

@keyframes blink-shadow-text {
  0%, 100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra normal */
  }
  50% {
    text-shadow: 4px 4px 8px rgba(0, 255, 255, 1), 0 0 15px rgba(0, 255, 255, 0.8); /* Sombra brillante turquesa */
  }
}

.ad-banner {
  display: flex;
  justify-content: center; /* Centrar el contenido */
  align-items: center; /* Centrar verticalmente */
  background-color: var(--primary-color);
  background-image: url('../img/banner.jpg'); /* Usar la imagen como fondo */
  background-size: cover; /* Asegurarse de que la imagen cubra todo el banner */
  background-position: center; /* Centrar la imagen */
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra normal */
  position: relative;
  height: 300px; /* Aumentar la altura del banner para un mejor ajuste */
  animation: blink-shadow 1s 5; /* Parpadeo de sombra 3 veces */
}

.ad-banner-image {
  height: 100px; /* Aumenta el tamaño de la imagen */
  width: auto; /* Mantiene la proporción */
  margin: 0 20px; /* Espacio entre imagen y texto */
  animation: blink-shadow 1s 5; /* Parpadeo de sombra 3 veces */
}

.ad-banner-text {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Sombra más fuerte */
}

.ad-banner-text p {
  font-size: 2rem; /* Tamaño del texto */
  color: #ffebb7; /* Cambia el color del texto a amarillo */
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), /* Sombra más ligera */
               0 0 8px rgba(27, 4, 4, 0.743), /* Sombra blanca sutil para resaltar */
               0 0 10px rgb(162, 116, 9); /* Borde oscuro de color turquesa */
}


.ad-banner-close {
  background: none;
  border: none;
  color: #d68251; /* Marrón oscuro */
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ad-banner-close:hover {
  color: #ffebb7; /* Color de la X cuando se hace hover */
  background-color: transparent;
}




/* SECCIÓN CARRUSEL Y TEXTO */
section {
  display: grid;
  grid-template-columns: 2fr 2fr; /* El carrusel ocupa 1/3 del ancho y la descripción 2/3 */
  gap: 20px; /* Espacio entre el carrusel y el contenedor de descripción */
  padding: 20px; /* Espaciado interno */
}

/* Estilo para el carrusel */
.who-image-container {
  width: 100%;
}

.who-image-container img{
  width: 100%;
}

/* Contenedor de la descripción */
.description-container {
  width: 100%;
}

/* Estilo adicional para las descripciones */
.description .custom-description {
  font-size: 16px;
  line-height: 1.6;
  
}

.custom-description p {
  margin-bottom: 10px; /* Espacio entre párrafos */
  text-align: justify; /* Justificar el texto */
}


/* VISÍTANOS */

/* Estilo para la sección Visítanos usando Grid */
.visit-us-section {
  display: grid;
  grid-template-columns: 1fr; /* Define una sola columna para los elementos */
  justify-items: center; /* Centra los elementos en el eje horizontal */
  align-items: start; /* Alinea los elementos al inicio en el eje vertical */
  padding: 20px;
}

/* Estilo para el título */
.visit-us-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; /* Añade espacio entre el título y el texto */
  text-align: center; /* Centra el título */
  align-items: center;
  justify-content: center;
}

/* Estilo para la lista de la sección */
.visit-us-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px; /* Añade espacio entre los ítems de la lista */
  text-align: left; /* Alinea la lista a la izquierda */
}




/* SECCIÓN CONTACTO */

/* Estilo para la sección de contacto */
.contact-section {
  display: grid;                /* Usar grid para organizar los elementos */
  grid-template-columns: 1fr;    /* Una sola columna */
  gap: 20px;                    /* Espacio entre los elementos */
  padding: 20px;
  text-align: center;            /* Centrar el texto */
}

/* Estilo para el título */
.contact-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

/* Estilo para la descripción */
.contact-description {
  font-size: 16px;
  margin-bottom: 20px; /* Espacio entre el párrafo y el QR */
}

/* Estilo para la imagen del código QR */
.contact-qr-container {
  margin-bottom: 20px; /* Espacio entre el QR y el formulario */
}

.contact-qr-container,
.email-form-container {
  width: 100%;            /* Asegura que los divs ocupen todo su contenedor */
}

.contact-qr-image {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para el contenedor del formulario */
.email-form-container {
  margin-top: 20px;
}

.contact-content {
  display: grid;          /* Usamos grid para organizar los elementos en fila */
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño (50% cada una) */
  gap: 20px;     
  align-items: center;
  justify-content: center;         /* Espacio entre las columnas */
}


/* FORMULARIO */
.email-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.email-heading, .contact-qr-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.status-message {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.email-form {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna */
  gap: 15px; /* Espacio entre los elementos */
}

.email-label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.email-input,
.email-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.email-textarea {
  height: 150px;
}


@media (max-width: 768px) {
  .who-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
  }

  /* Banner publicitario */
  .ad-banner {
    width: 95%;  /* Cambiar el ancho a 90% */
    margin: 0 auto; /* Centrar el contenedor en la página */
    height: 350px; /* Ajusta la altura del banner en pantallas pequeñas */
    flex-direction: column; /* Cambia la disposición para una mejor visualización en móviles */
    padding: 15px;
  }

  .ad-banner-image {
    height: 80px; /* Reduce el tamaño de la imagen */
    margin: 10px 0; /* Reduce el espacio entre la imagen y el texto */
  }

  .ad-banner-text {
    display: none;
  }

  section {
    grid-template-columns: 1fr; /* Muestra una sola columna en lugar de dos */
    padding: 10px;
  }

  .description-container {
    width: 100%;
  }

  /* Estilo para la sección Visítanos */
  .visit-us-section {
    padding: 10px;
  }

  .visit-us-heading {
    font-size: 20px; /* Reduce el tamaño del título */
  }

  .visit-us-list {
    margin-left: 10px; /* Reduce el espacio de la lista */
  }

  /* Estilo para la sección Contacto */
  .contact-section {
    display: grid; /* Usamos grid para organizar los elementos */
    grid-template-columns: 1fr; /* Cada elemento ocupa toda una fila */
    gap: 20px; /* Espacio entre los elementos */
    padding: 10px;
  }

  .contact-heading {
    font-size: 20px; /* Reduce el tamaño del título */
  }

  .contact-description {
    font-size: 14px; /* Reduce el tamaño de la descripción */
  }

  /* Estilo para los elementos dentro de contact-content */
  .contact-content {
    display: grid; /* Usamos grid para organizar los elementos */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 15px; /* Espacio entre los elementos */
    padding: 10px;
  }

  /* Estilo para el formulario */
  .email-container {
    width: 90%; /* Asegura que el formulario ocupe el 90% del ancho */
    padding: 10px;
  }

  .email-form {
    gap: 10px; /* Reduce el espacio entre los elementos del formulario */
  }

  .email-input,
  .email-textarea {
    font-size: 14px; /* Reduce el tamaño de la fuente */
    padding: 8px; /* Ajusta el padding */
  }

  .email-textarea {
    height: 120px; /* Reduce la altura del textarea */
  }
}
